body {
  margin: 0;
  padding: 0;
  font-family: Rubik;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: 0 !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  min-width: 36vh;
  z-index: 100;
  padding: 68px 0 0;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.055);
}

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 200px;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.animal-image img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.formBusca {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  flex: 1;
  width: 100%;
  margin-right: 5px;
  font-size: 18px;
  border:none;
  margin:none;
}

.search-box input[type="search"] {
  width: 150%;
  padding: 18px;
  font-size: 16px;
  border-radius: 4px;
  border:none;
  margin:none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.616);
}

.search-box input[type="search"]::after {
  border:none;
  margin:none;
}