html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  font-family: Rubik;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: 0 !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  min-width: 36vh;
  z-index: 100;
  padding: 68px 0 0;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.055);
}

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 200px;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.animal-image img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.formBusca {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  flex: 1;
  width: 100%;
  margin-right: 5px;
  font-size: 18px;
  border:none;
  margin:none;
}

.search-box input[type="search"] {
  width: 150%;
  padding: 18px;
  font-size: 16px;
  border-radius: 4px;
  border:none;
  margin:none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.616);
}

.search-box input[type="search"]::after {
  border:none;
  margin:none;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.counter h3 {
  font-size: 24px;
  font-weight: bold;
}

.counter p {
  font-size: 14px;
  margin-top: 8px;
}


#cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 45vh;
}

#card {
  background-color: #003366;
  padding: 50px;
  color: white !important;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 85%;
  border-radius: 5%;
}

#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Color verde */
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999; /* Asegura que el botón esté encima de otros elementos */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vh;
  height: 25vh;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.overlay-text2 {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.image-container:hover .overlay {
  opacity: 1;
}

#navbarLanding{
  background-color: transparent !important;
  backdrop-filter: blur(0px) !important;
  border-bottom: 0.1px solid white !important;
  position: relative
}

.ov-btn-grow-ellipse:hover {
  color: #fff;
}

.ov-btn-grow-ellipse {
  background: #0c5599 !important;
  padding: 10px 12px !important;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-ellipse::after {
  content: "";
  background: #082c50;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.ov-btn-grow-ellipse:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}

.popover-container {
  position: relative;
  margin-top: -2%;
  margin-left: 33.5%;
  width: 48%;
  text-decoration: none !important;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  overflow: scroll !important;
  height: 400px !important;
}

.popover-content h1 {
  text-decoration: none !important;
}

#busqueda{
  text-decoration: none !important;
}

#busqueda:hover {
  background-color: #bebebe31;
}

.card-body form input{
  border-color: gray !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 16px !important;
  line-height: normal !important;

}