*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

.containerL{
    width: 100%;
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/seasos-ciencias.appspot.com/o/wallpaperbetter.com_7680x4320.jpg?alt=media&token=3842b392-c02a-4935-b375-d119a566cbd2");
    background-position: center;
    object-fit: contain;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #46464657;
    padding: 10px 50px 50px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-box h1{
    font-size: 30px;
    margin-bottom: -10px;
    color: #edebf1;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #cdc9d3;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 5px 5px !important;
    width: 90%;
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    border-radius: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    margin-right: 10px;
    color: #999;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #7fffd4;
    color: #020202;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-fieldR{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
    margin-top: 50px;
}

.btn-fieldR button{
    width: 48%;
    max-width: 200px;
    background: #7fffd4;
    color: #020202;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}


.input-group{
    height: 250px;
    margin: 5px 5px;
}

.input-group .input-field{
    height: 60px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

#nameField {
    max-height: 0;
    overflow: hidden;
}

.inputClassPagination{
    width: 80px !important;
    text-align: right !important;
    font-size: 20px !important;
    font-weight: bold !important;
}