@media (max-width: 700px) {
    .navbar-item {
        margin-right: 0; /* Ajustar el espaciado entre elementos en dispositivos pequeños */
      }
    #cards-container{
        display: block;
        height: 100%;
    }
    #card{
        margin-top: 10%;
    }
    #titleLanding{
        font-size: 40px;
        width: 280px
    }
    .image-container img{
        width: 30vh !important; 
        height: 25vh !important;
        margin-left: auto;
        margin-right: auto;
    }
    .overlay{
        width: 30vh !important; 
        height: 25vh !important;
        margin-left: 17% !important;
    }
    .overlay-text{
        font-size: 18px;
    }
    #textLanding{
        font-size: 18px;
        width: 25ch;
        
    }
    #containerUnete{
        width:250px !important;
        margin-top: 130px;
        margin-right: 150%
    }
    #btnParticipa{
        margin-right: 150%
    }
    #titles{
        font-size: 50px;
        width: 100%;
        text-align: center !important;
        margin: 0
    }
    #rowAnimals{
        width: 380px !important;
        margin: 0;
    }
    #animals{
        width: 380px !important;
        margin: 0;
    }
    .containerAnimals{
        overflow: scroll !important;
        height: 20vh !important;
    }
    #inputSearch{
        display: none !important;
    }
    #containerF{
        padding: 5vh;
    }
    #form{
        width: 60% !important;
        margin-left: 20%;
    }
    #soliTitle{
        margin-left: 07%;
    }
    .form-box{
        width: 85% !important;
        margin-left: 06%;
    }
    #containerTable{
        width: 30vh;
    }
    #paginacion{
       width: 150%; 
    }
    .table-responsive{
        width: 120%;
    }
    #titleAnimals{
        font-size: 40px;
    }
    #infoColors{
        display: inline-block !important;
    }
    .sectionAnimals{
        width:80%;
        margin-left: 20%;
    }
    .animal-image{
        width: 300px;
        margin-left: 10%;
    }
    #containerImagen{
        flex-direction: column;
    }
  }
 