.button-link{
    text-decoration: none;
    color: inherit; 
    padding: 0 12px;
    padding-top: 20px;
    gap: 20px;
    font-size: 20px;
}

.button-link2{
    text-decoration: none;
    color: inherit; 
    padding: 0 12px;
    padding-top: 20px;
    gap: 20px;
    font-size: 20px;
}

.buscar{ 
    padding: 12px;
}

.sidebarPr {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0; 
    width: 60px;
    min-width: 60px;
    background-color: aliceblue;
    z-index: 1000; 
    overflow: hidden; 
    transition: width 0.4s ease; 
  }
  
  .sidebarPr.open {
    width: 200px; 
  }
  

.sidebar.open {
    width: 400px;
}

.sidebar .inner{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar header{
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 6px;
}

.sidebar-burger {
    width: 44px;
    height: 72px;
    display: grid;
    place-items: center;
    color: black;
}

.sidebar header > img {
    height: 28px;
}

.sidebar nav{
    display: grid;
    padding: 6px;
    gap: 2px;
}

.sidebar nav > button {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 44px;
    width: 44px;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 1;
    padding: 0 12px;
    border-radius: 8px;
    color: black;
}

.sidebar nav > button:hover{
    background: rgb(0 0 0 / 25%))

}

.sidebar header > img, .sidebar nav > button p {
    opacity: 0;
    transition: 0.3s;
}

.sidebar.open nav > button {
    width: 100%;
}
.button-link {
    text-decoration: none;
    color: inherit;
    padding-top: 1vh !important;
    padding-bottom: 2vh !important;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button-link2 {
    text-decoration: none;
    color: inherit;
    padding-top: 1vh !important;
    padding-bottom: 2vh !important;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Estilo para el hover del enlace */
.button-link:hover {
    background-color: rgba(180, 185, 190, 0.521); /* Cambiar color de fondo al hacer hover */
}

.button-link2:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Cambiar color de fondo al hacer hover */
}